@charset "utf-8";
.uploadify-container,
.uploadify,
.uploadify-queue {}
.uploadify-clear {
	clear: both;
}
.uploadify-queue-item,
.uploadify-button {
	display: inline-block;
	position: relative;
	float: left;
	width: 120px !important;
	height: 90px !important;
	text-align: center;
	background-color: #0099FF;
	border: #0078CC solid 1px !important;
	border-radius: 4px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-size: 12px;
}

/*上传按钮*/
.uploadify-button {
	line-height: 90px;
	cursor: pointer;
	text-decoration:none;
	color: #fff !important;

	transition: background-color .3s;
}
.uploadify-button:hover {
	background-color: #0086E3;
	text-decoration: none;
}
/*
.uploadify-button span {
	display: inline-block;
	padding: 5px 10px;
	border: #0078CC solid 1px;
	color: #fff;
	line-height: 1;
	border-radius: 2px;

	transition: color-color .3s;
}
.uploadify-button:hover span {
	border-color: #0374C4;
}
*/

/*上传列队*/
.uploadify-queue {}
.uploadify-queue .uploadify-queue-item {}
.uploadify-queue .uploadify-queue-item.uploading,
.uploadify-queue .uploadify-queue-item.uploaded {
	background-repeat : no-repeat;
	background-position : center;
	background-size : cover;
}
.uploadify-queue .uploadify-queue-item .uploadify-queue-item-container {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: background-color .5s;
}
.uploadify-queue .uploadify-queue-item.uploading .uploadify-queue-item-container {
	background-color: rgba(0,0,0,.6);
}
.uploadify-queue .uploadify-queue-item.uploaded .uploadify-queue-item-container {
	background-color: transparent;
}
.uploadify-queue .uploadify-queue-item.drag {
	background-color: #0078aa;
}

/*列队单元格中的内部元素*/
.uploadify-queue .uploadify-queue-item .up_filename,
.uploadify-queue .uploadify-queue-item .progressnum,
.uploadify-queue .uploadify-queue-item .delfilebtn,
.uploadify-queue .uploadify-queue-item .uploadbtn,
.uploadify-queue .uploadify-queue-item .up_percent,
.uploadify-queue .uploadify-queue-item .itemtitle {
	display: inline-block;
	line-height: 1;
	color:#fff;
	text-decoration: none;
	margin-left:5px;
}
.uploadify-queue .uploadify-queue-item .itemtitle {
	position: absolute;
	bottom: 4px;
	left: 5px;
	z-index: 9;
	padding: 5px 7px;
	background: #0078CC;
	border-radius: 10px;

}
.uploadify-queue .uploadify-queue-item .uploadbtn{
	position: absolute;
	top: 5px;
	right: 2.2em;
	display: none; /*默认不显示上传按钮，非自动上传时用js控制显示*/
}
.uploadify-queue .uploadify-queue-item .disabledbtn {}
/*删除按钮*/
.uploadify-queue .uploadify-queue-item .delfilebtn {
	position: absolute;
	top: 5px;
	right: 5px;
	border: #0078CC solid 1px !important;
	color: #0078CC;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px !important;
	border-radius: 50%;
}
.uploadify-queue .uploadify-queue-item .delfilebtn:hover {
	color: #fff;
	background: #0078CC;
}
/*进度条*/
.uploadify-queue .uploadify-queue-item .uploadify-progress{
	display:inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	margin: -5px 0 0 -45px;
	width:90px;
	height:10px;
	background-color:white;
	border-radius:5px;
	border:1px solid #0078CC;
	vertical-align:middle;
	padding:0;
	text-align: left;
}
.uploadify-queue .uploadify-queue-item .uploadify-progress-bar{
	display:inline-block;
	float: left;
	width:0;
	height:10px;
	border-radius:5px;
	background-color: #0099FF;
}